.login-content__header__image-logo
  = link_to root_path do
    = image_tag 'header_icon.png', height:"60",width:"200"
.login-content__header__information
  = image_tag 'login/login_state.png', height:"70",width:"500"