.login-content 
  .login-content__header
    = render 'devise/registrations/header'
  .login-content__main
    = render 'devise/registrations/main_second'
  .login-content__footer
    = render 'devise/registrations/footer'