.login-content 
  .login-content__header
    = render 'header'
  .login-content__main_o
    .hello
      = link_to "メルカリを始める",root_path , class: "hello_btn"
  .login-content__footer
    = render 'footer'
