<main class="mypage">
  <div class="mypage__side">
    <nav class="mypage__side__nav">
      <ul class="mypage__side__nav__list">
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/" class="mypage__side__nav__list__item__one active">
            マイページ
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/notification/" class="mypage__side__nav__list__item__one ">
            お知らせ
            <span class="mypage-nav-number">
              99+
            </span>
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/todo/" class="mypage__side__nav__list__item__one ">
            やることリスト
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/like/history/" class="mypage__side__nav__list__item__one ">
            いいね！一覧
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/sell/" class="mypage__side__nav__list__item__one">
            出品する
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/listings/listing/" class="mypage__side__nav__list__item__one ">
            出品した商品 - 出品中
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/listings/in_progress/" class="mypage__side__nav__list__item__one ">
            出品した商品 - 取引中
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/listings/completed/" class="mypage__side__nav__list__item__one ">
            出品した商品 - 売却済み
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/purchase/" class="mypage__side__nav__list__item__one ">
            購入した商品 - 取引中
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/purchased/" class="mypage__side__nav__list__item__one ">
            購入した商品 - 過去の取引
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/news/" class="mypage__side__nav__list__item__one ">
            ニュース一覧
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/review/history/" class="mypage__side__nav__list__item__one ">
            評価一覧
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/help_center/" class="mypage__side__nav__list__item__one">
            ガイド
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/support/" class="mypage__side__nav__list__item__one ">
            お問い合わせ
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
      </ul>
      <h3 class="mypage__side__nav__head">メルペイ</h3>
      <ul class="mypage__side__nav__list">
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/sales/" class="mypage__side__nav__list__item__one ">
            売上・振込申請
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/point/" class="mypage__side__nav__list__item__one ">
            ポイント
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
      </ul>
      <h3 class="mypage__side__nav__head">設定</h3>
      <ul class="mypage__side__nav__list">
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/profile/" class="mypage__side__nav__list__item__one ">
            プロフィール
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/deliver_address/" class="mypage__side__nav__list__item__one ">
            発送元・お届け先住所変更
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/card/" class="mypage__side__nav__list__item__one ">
            支払い方法
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/email_password/" class="mypage__side__nav__list__item__one ">
            メール/パスワード
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/identification/" class="mypage__side__nav__list__item__one">
            本人情報
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/mypage/sms_confirmation/" class="mypage__side__nav__list__item__one">
            電話番号の確認
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
        <li class="mypage__side__nav__list__item">
          <a href="/jp/logout/" class="mypage__side__nav__list__item__one">
            ログアウト
            <i class="material-icons" id="right">keyboard_arrow_right</i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mypage__content">
    <section class="mypage__content__user-icon">
      <a href="https://www.mercari.com/jp/u/231385330/" class="mypage__content__user-icon__user">
        <figure class="figure">
          <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="60" height="60" class="figure__img">
        </figure>
        <h2 class="bold">ゆーつ</h2>
        <div class="mypage__content__user-icon__user-number">
          <div class="rate">評価 <span class="bold">1</span></div>
          <div class="rate">出品数 <span class="bold">0</span></div>
        </div>
      </a>
    </section>
    <section class="mypage__content__tab">
      <ul class="mypage__content__tab-tabs">
        <li class="active">
          <h3 class="linered">
            <a href="#mypage-tab-notification" data-toggle="tab">
              お知らせ
              <span class="mypage-nav-number hidden-large">
                99+
              </span>
            </a>
          </h3>
        </li>
        <li class="noactive">
          <h3>
            <a href="#mypage-tab-todo" data-toggle="tab">
              やることリスト
            </a>
          </h3>
        </li>
      </ul>
      <div class="mypage__content__tab__one">
        <ul id="mypage-tab-notification" class="mypage-item-list tab-pane active">
          <li class="list">
            <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
              <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">事務局から個別メッセージ「ログイン通知」</div>
                <time><i class="material-icons md-18">access_time</i><span>8 分前</span></time>
              </div>
              <i class="material-icons" id="right">keyboard_arrow_right</i>
            </a>
          </li>
          <li class="list">
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">《メルカリ6周年大感謝祭》今だけ限定のお得チケットをプレゼントしました</div>
                <time><i class="icon-time"></i><span>18 時間前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="list">
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">《買うほどお得、売るほどお得》メルカリ6周年大感謝祭、本日スタート！</div>
                <time><i class="icon-time"></i><span>1 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="list">
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">明日、5%割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。</div>
                <time><i class="icon-time"></i><span>3 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="list">
            <a href="" class="mypage-item-link" data-open="modal" data-modal="banner">
              <figure>
                <img data-src="//static.mercdn.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static.mercdn.net/images/mercari_profile.png">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">3日後、5%割引お得チケットの有効期限が切れます！タップして詳細を確認しましょう。</div>
                <time><i class="icon-time"></i><span>5 日前</span></time>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="mypage-go-list">
            <a href="/jp/mypage/notification/" class="show">一覧を見る</a>
          </li>
        <%# </ul>
        <ul id="mypage-tab-todo" class="mypage-item-list tab-pane">
          <li class="mypage__content__tab__one__list__not bold">現在、やることリストはありません</li>
        </ul> %>
      </div>
    </section>
    <%# <aside class="modal" data-modal="banner" data-close="modal">
      <div class="modal-inner modal-banner">
        <div class="modal-banner-eye-catch">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3270184656" alt="">
          <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656" alt="">
        </div>
        <div class="modal-banner-body">
          <h2>今すぐ無料ダウンロード！</h2>
          <p class="bold">全ての機能を使えるスマホアプリはこちら！</p>
          <div class="modal-banner-app clearfix">
            <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="pull-left">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3270184656" alt="">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank" class="pull-left">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3270184656" alt="">
            </a>
          </div>
          <a href="" class="modal-banner-app-open" data-toggle="open-app" data-url-scheme="mercari://" data-action="app/launch" data-play-id="com.kouzoh.mercari">
            アプリで開く
          </a>
        </div>
        <i class="icon-close" data-close="modal"></i>
      </div>
    </aside> %>
    <section class="mypage__content__two">
      <h2 class="mypage__content__two__head">購入した商品</h2>
      <ul class="mypage__content__two__tabs">
        <li class="active">
          <h3>
            <a href="#mypage-tab-transaction-now" data-toggle="tab">
              取引中
            </a>
          </h3>
        </li>
        <li class="noactive">
          <h3>
            <a href="#mypage-tab-transaction-old" data-toggle="tab">
              過去の取引
            </a>
          </h3>
        </li>
      </ul>
      <div class="mypage__content__two__tab">
        <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
          <img src="../../../assets/images/images.png" class="image">
          <li class="mypage-item-not-found bold">取引中の商品がありません</li>
        </ul>
        <%# <ul id="mypage-tab-transaction-old" class="mypage-item-list tab-pane">
          <li>
            <a href="https://www.mercari.com/jp/transaction/order_status/m72143708439/" class="mypage-item-link">
              <figure>
                <img data-src="//static.mercdn.net/thumb/photos/m72143708439_1.jpg?1506220649" class="lazyload" alt="">
              </figure>
              <div class="mypage-item-body">
                <div class="mypage-item-text">
                  「スターウォーズ ライトセイバー」 を購入しました。
                  <span>取引が完了しました</span>
                </div>
                <div class="mypage-item-status bold done">
                  取引完了
                </div>
              </div>
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="mypage-go-list">
            <a href="/jp/mypage/purchased/">一覧を見る</a>
          </li>
        </ul> %>
      </div>
    </section>
  </div>
</main>