.purchase-complete
  %h2.purchase-complete__notice 購入が完了しました！
  %p.purchase-complete__thank ありがとうございました！
  %p.purchase-complete__shop 引き続きショッピングをお楽しみください！
  .purchase-complete__back
    %i.far.fa-hand-point-right
    = link_to "トップへ戻る" , root_path ,class: "purchase-complete__text"
    %i.far.fa-hand-point-left
