.login-content 
  .flag-header
    = link_to root_path do
      = image_tag 'header_icon.png',id:"image-style-header-logo"
  .flag-main
    = render 'flag-main'
  .login-content__footer
    = render 'devise/registrations/footer'