.footer-banner
  .footer-content
    .footer-content__link
      %h2.footer スマホでかんたんフリマアプリ
      %p.footer 今すぐ無料ダウンロード！
      .footer-content__link-icon
        = image_tag "メルカリアイコン文字なし.png", class:"mercali-icon"
        %ul.footer-content__link-store
          %li.footer-image
            = image_tag "AppStoreバッジ.svg", class:"footer-image"
          %li.footer-image
            = image_tag "google-playバッジ.png", class:"footer-image-google"
    .footer-content__figure
      =i mage_tag "フッター用スマホ画像.png", class:"footer-image-right"

