<div class="footer-banner">
      <div class="footer-content">
        <div class="footer-content__link">
            <h2 class="footer">スマホでかんたんフリマアプリ</h2>
            <p class="footer">今すぐ無料ダウンロード！</p>
            <div class="footer-content__link-icon">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari_icon.png" class="mercali-icon">
            <ul class="footer-content__link-store">
              <li class="footer-image"><img src="/Users/nobuaki/projects/mercari/app/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" class="footer-image"></li>
              <li class="footer-image"><img src="/Users/nobuaki/projects/mercari/app/assets/images/google-play-badge.png" class="footer-image-google"></li>
            </ul>
          </div>
        </div>
        <div class="footer-content__figure">
          <img src="/Users/nobuaki/projects/mercari/app/assets/images/フッター用画像.png" class="footer-image-right">
        </div>
      </div>
    </div>