.footer-banner
  .footer-content
    .footer-content__link
      %h2.footer スマホでかんたんフリマアプリ
      %p.footer 今すぐ無料ダウンロード！
      .footer-content__link-icon
        = image_tag "mercari_icon_without_word.png", class:"mercali-icon"
        %ul.footer-content__link-store
          %li.footer-image
            = image_tag "AppStore.svg", class:"footer-image"
          %li.footer-image
            = image_tag "google-play.png", class:"footer-image-google"
    .footer-content__figure
      =image_tag "footer_sp.png", class:"footer-image-right"

