.footer-banner
  .footer-content
    .footer-content__link
      %h2.footer スマホでかんたんフリマアプリ
      %p.footer 今すぐ無料ダウンロード！
      .footer-content__link-icon
        %img.mercali-icon{:src => "/Users/nobuaki/projects/mercari/app/assets/images/mercari_icon.png"}/
        %ul.footer-content__link-store
          %li.footer-image
            %img.footer-image{:src => "/Users/nobuaki/projects/mercari/app/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"}/
          %li.footer-image
            %img.footer-image-google{:src => "/Users/nobuaki/projects/mercari/app/assets/images/google-play-badge.png"}/
    .footer-content__figure
      %img.footer-image-right{:src => "/Users/nobuaki/projects/mercari/app/assets/images/フッター用画像.png"}/
