<div class="footer-info">
  <div class="footer-info__nav">
    <div class="footer-info__nav-cell">
        <h2 class="footer-head">メルカリについて</h2>
        <ul>
            <li>
                <a href="https://about.mercari.com/">会社概要（運営会社)</a>
            <li>
                <a href="https://www.mercari.com/jp/jobs/">採用情報</a>                </li>
            <li>
                <a href="https://about.mercari.com/press/news/">プレスリリース</a>                </li>
            <li>
                <a href="https://jp-news.mercari.com/" target="_blank">公式ブログ</a>                </li>
            <li>
                <a href="https://www.mercari.com/jp/logo-guidelines/">メルカリロゴ利用ガイドライン</a>                </li>
            <li class="footer-social-link">
              <a href="https://twitter.com/mercari_jp" target="_blank"><img src="/Users/nobuaki/projects/mercari/app/assets/images/Twitter_Logo_WhiteOnImage.png" class="icon-twitter"></a>
            </li>
            <li class="footer-social-link">
              <a href="https://www.facebook.com/mercarijp" target="_blank"><img src="/Users/nobuaki/projects/mercari/app/assets/images/f_logo_RGB-White_72.png" class="icon-facebook"></a>
            </li>
          </ul>
    </div>
    <div class="footer-info__nav-cell">
        <h2 class="footer-head">ヘルプ&ガイド</h2>
        <ul>
            <li>
                <a href="https://www.mercari.com/jp/help_center/">メルカリガイド</a>              </li>
            <li>
                <a href="https://www.mercari.com/jp/rakuraku-mercari/">らくらくメルカリ便</a>                </li>
            <li>
                <a href="https://www.mercari.com/jp/yuyu-mercari/">ゆうゆうメルカリ便</a>                </li>
            <li>
                <a href="https://www.mercari.com/jp/rakuraku-ogata/">大型メルカリ便</a>                </li>
            <li>
                <a href="https://www.mercari.com/jp/guide/car/">車体取引ガイド</a>
            <li>
              <a href="https://www.mercari.com/jp/safe/description/" target="_blank">メルカリあんしん・あんぜん宣言！</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/authenticity/">偽ブランド品撲滅への取り組み</a>
            </li>
            <li>
                <a href="https://www.mercari.com/jp/box/">メルカリボックス</a>                  </li>
          </ul>
    </div>

    <div class="footer-info__nav-cell full-width">
        <h2 class="footer-head">プライバシーと利用規約</h2>
<div class="footer-info__nav-cell-list">
        <div class="footer-info__nav-cell-inner">
          <ul>
            <li>
            <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/tos_smartphone_support/">あんしんスマホサポート制度に関する利用特約</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/compliance/">コンプライアンスポリシー</a>
            </li>
          </ul>
        </div>

        <div class="footer-info__nav-cell-inner">
            <ul>
            <li>
              <a href="https://www.mercari.com/jp/data_security/">個人データの安全管理に係る基本方針</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/shikin_kessai/">資金決済法に基づく表示</a>
            </li>
            <li>
              <a href="https://about.mercari.com/csr/safety/">法令順守と犯罪抑止のために</a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/refund-returns/">返品・返金ポリシー</a>
            </li>
          </ul>
        </div>
        </div>
      </div>

      <div class="footer-info__nav-cell">
          <h2 class="footer-head">国</h2>
          <ul>
            <li>
              <a href="https://www.mercari.com/jp/" class="active">日本</a>
            </li>
            <li>
              <a href="https://www.mercari.com/">United States</a>
            </li>
          </ul>
        </div>


  </div>
  <div class="footer-info__bottom">
      <a href="https://www.mercari.com/jp/" class="footer-logo">
        <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari-logo-white.svg" width="124" height="33" alt="mercari">
      </a>
      <div class="footer-copyright">
        © 2019 Mercari
      </div>
    </div>
</div>