.footer-info
  .footer-info__nav
    .footer-info__nav-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          %a{:href => "https://about.mercari.com/"} 会社概要（運営会社)
        %li
          %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
        %li
          %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
        %li
          %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
        %li
          %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
        %li.footer-social-link
          %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
            %img.icon-twitter{:src => "/Users/nobuaki/projects/mercari/app/assets/images/Twitter_Logo_WhiteOnImage.png"}/
        %li.footer-social-link
          %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
            %img.icon-facebook{:src => "/Users/nobuaki/projects/mercari/app/assets/images/f_logo_RGB-White_72.png"}/
    .footer-info__nav-cell
      %h2.footer-head ヘルプ&amp;ガイド
      %ul
        %li
          %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
        %li
          %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li
          %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
        %li
          %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
    .footer-info__nav-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .footer-info__nav-cell-list
        .footer-info__nav-cell-inner
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
            %li
              %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
        .footer-info__nav-cell-inner
          %ul
            %li
              %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
            %li
              %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
            %li
              %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
            %li
              %a{:href => "https://www.mercari.com/jp/refund-returns/"} 返品・返金ポリシー
    .footer-info__nav-cell
      %h2.footer-head 国
      %ul
        %li
          %a.active{:href => "https://www.mercari.com/jp/"} 日本
        %li
          %a{:href => "https://www.mercari.com/"} United States
  .footer-info__bottom
    %a.footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "33", :src => "/Users/nobuaki/projects/mercari/app/assets/images/mercari-logo-white.svg", :width => "124"}/
    .footer-copyright
      © 2019 Mercari
