    <div class="header-inner">

    <div class="header-search">

      <div class="header-search__logo">
        <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari_logo_horizontal.png" class="image-logo">
      </div>

      <form class="header-search__box">
        <input type="search" name="keyword" value="" placeholder="何かお探しですか？" class="input-default">
        <i class="material-icons search-icon">search</i>
      </form>
      
    </div>

    <div class="header-under">
      <div class="header-under__left">
        <div class="header-under__left-element">
          <div class="material-icons">
            list
            <div class="header-under__left-word">カテゴリーから探す</div>
          </div>
        </div>
        <div class="header-under__left-element">
          <div class="material-icons">
                tag
            <div class="header-under__left-word">ブランドから探す</div>
          </div>
        </div>
      </div>
      <div class="header-under__right">
        <div class="header-under__right-new">
          新規会員登録
        </div>
        <div class="header-under__right-login">
        ログイン
        </div>
      </div>
    </div>
