.item-list
  %h3.item-list__title 仮置き
  .item-list__cards
    .item-list__card
      .item-list__card-image
        =image_tag "犬画像.jpeg" class:"item-image"
      .item-list__card-info
        .item-list__card-info-name 犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう
        .item-list__card-info-num
          .num__price ￥500円
          .far.fa-heart
            .num-like 5
          %p.item-list__card-info-tax (税込)
    .item-list__card
      .item-list__card-image
        =image_tag "犬画像.jpeg" class:"item-image"
      .item-list__card-info
        .item-list__card-info-name 犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう
        .item-list__card-info-num
          .num__price ￥500円
          .far.fa-heart
            .num-like 5
          %p.item-list__card-info-tax (税込)
    .item-list__card
      .item-list__card-image
        =image_tag "犬画像.jpeg" class:"item-image"
      .item-list__card-info
        .item-list__card-info-name 犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう
        .item-list__card-info-num
          .num__price ￥500円
          .far.fa-heart
            .num-like 5
          %p.item-list__card-info-tax (税込)
    .item-list__card
      .item-list__card-image
        =image_tag "犬画像.jpeg" class:"item-image"
      .item-list__card-info
        .item-list__card-info-name 犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう
        .item-list__card-info-num
          .num__price ￥500円
          .far.fa-heart
            .num-like 5
          %p.item-list__card-info-tax (税込)
.view-all 全ての商品をみる
