   <div class="item-list">
      <h3 class="item-list__title">仮置き</h3>
        <div class="item-list__cards">
        <div class="item-list__card">
          <div class="item-list__card-image">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
          </div>
          <div class="item-list__card-info">
            <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
            <div class="item-list__card-info-num">
              <div class="num__price">￥500円</div>
              <div class="far fa-heart"><div class="num-like">5</div></div>
              <p class="item-list__card-info-tax">(税込)</p>
            </div>
        </div>
        </div>

        <div class="item-list__card">
            <div class="item-list__card-image">
              <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
            </div>
            <div class="item-list__card-info">
              <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
              <div class="item-list__card-info-num">
                <div class="num__price">￥500円</div>
                <div class="far fa-heart"><div class="num-like">5</div></div>
                <p class="item-list__card-info-tax">(税込)</p>
              </div>
          </div>
          </div>


          <div class="item-list__card">
              <div class="item-list__card-image">
                <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
              </div>
              <div class="item-list__card-info">
                <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                <div class="item-list__card-info-num">
                  <div class="num__price">￥500円</div>
                  <div class="far fa-heart"><div class="num-like">5</div></div>
                  <p class="item-list__card-info-tax">(税込)</p>
                </div>
            </div>
            </div>


            <div class="item-list__card">
                <div class="item-list__card-image">
                  <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
                </div>
                <div class="item-list__card-info">
                  <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                  <div class="item-list__card-info-num">
                    <div class="num__price">￥500円</div>
                    <div class="far fa-heart"><div class="num-like">5</div></div>
                    <p class="item-list__card-info-tax">(税込)</p>
                  </div>
              </div>
              </div>



      </div>
    </div>
    <div class="view-all">全ての商品をみる</div>