.item-list__card
  =link_to item_path(item.id) do
    =image_tag (item.item_images.first.image.to_s),class:"item-list__card-image"
    
  .item-list__card-info
    .item-list__card-info-name 
    .item-list__card-info-num
      .num__price="#{item.price}円"
      .far.fa-heart=Like.where(item_id: item.id).count
      %p.item-list__card-info-tax (税込) 