.item-list__card
  =link_to item_path(item.id),class: "item-list__card-link__small" do
    = image_tag (item.item_images.first&.image.to_s),class:"item-list__card-image__small" 
    - if item.status == 1
      .item-sold-out-small-badge
        .sold-small-text
          SOLD
  .item-list__card-info_d
    .item-list__card-info_d-name=item.name
    .item-list__card-info_d__num
      .num__price_d="¥ #{item.price.to_s(:delimited)}円"
      - if item.likes.ids.present?
        .price-heart.far.fa-heart
          .like_count=Like.where(item_id: item.id).count
