.slide-banner
  .slide-content
    .slide-content__link
      %h2.slider 
        スマホでかんたん
        %br
        フリマアプリ
      %p.slider 
        メルカリはスマホカメラからすぐに出品できる
        %br
        購入時も安心な独自システムのアプリです
      %ul.slide-content__link-store
        %li.slider-image
          = image_tag "AppStore.svg", class:"slider-image-app"
        %li.slider-image
          = image_tag "google-play.png", class:"slider-image-google"
    .slide-content__figure
      =image_tag "sp_with_hand.png", class:"slider-image-right"


