<html lang="ja-JP" class="">
<head>
<meta charset="utf-8">
<title>メルカリ スマホでかんたん フリマアプリ</title>
<link href="/jp/assets/css/app.jp.css?1302515896" rel="stylesheet">
<link rel='stylesheet' href='_style.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>


<body>

  <header>
    <div class="header-inner">

    <div class="header-search">

      <div class="header-search__logo">
        <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari_logo_horizontal.png" class="image-logo">
      </div>

      <form class="header-search__box">
        <input type="search" name="keyword" value="" placeholder="何かお探しですか？" class="input-default">
        <i class="material-icons search-icon">search</i>
      </form>
      
    </div>

    <div class="header-under">
      <div class="header-under__left">
        <div class="header-under__left-element">
          <div class="material-icons">
            list
            <div class="header-under__left-word">カテゴリーから探す</div>
          </div>
        </div>
        <div class="header-under__left-element">
          <div class="material-icons">
                tag
            <div class="header-under__left-word">ブランドから探す</div>
          </div>
        </div>
      </div>
      <div class="header-under__right">
        <div class="header-under__right-new">
          新規会員登録
        </div>
        <div class="header-under__right-login">
        ログイン
        </div>
      </div>
    </div>
  </header>


  <div class="moving-display">
      <img src="/Users/nobuaki/projects/mercari/app/assets/images/メルカリ_キャンプ用品大特集.png" class="main-image-1">
  </div>

  <div class="itemlist-1">
    <h2 class="pickup-head">
      ピックアップカテゴリー
    </h2>

    <div class="item-list">
      <h3 class="item-list__title">仮置き</h3>
        <div class="item-list__cards">
        <div class="item-list__card">
          <div class="item-list__card-image">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
          </div>
          <div class="item-list__card-info">
            <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
            <div class="item-list__card-info-num">
              <div class="num__price">￥500円</div>
              <div class="far fa-heart"><div class="num-like">5</div></div>
              <p class="item-list__card-info-tax">(税込)</p>
            </div>
        </div>
        </div>

        <div class="item-list__card">
            <div class="item-list__card-image">
              <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
            </div>
            <div class="item-list__card-info">
              <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
              <div class="item-list__card-info-num">
                <div class="num__price">￥500円</div>
                <div class="far fa-heart"><div class="num-like">5</div></div>
                <p class="item-list__card-info-tax">(税込)</p>
              </div>
          </div>
          </div>


          <div class="item-list__card">
              <div class="item-list__card-image">
                <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
              </div>
              <div class="item-list__card-info">
                <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                <div class="item-list__card-info-num">
                  <div class="num__price">￥500円</div>
                  <div class="far fa-heart"><div class="num-like">5</div></div>
                  <p class="item-list__card-info-tax">(税込)</p>
                </div>
            </div>
            </div>


            <div class="item-list__card">
                <div class="item-list__card-image">
                  <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
                </div>
                <div class="item-list__card-info">
                  <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                  <div class="item-list__card-info-num">
                    <div class="num__price">￥500円</div>
                    <div class="far fa-heart"><div class="num-like">5</div></div>
                    <p class="item-list__card-info-tax">(税込)</p>
                  </div>
              </div>
              </div>



      </div>
    </div>
    <div class="view-all">全ての商品をみる</div>


  <div class="item-list">
      <h3 class="item-list__title">仮置き</h3>
        <div class="item-list__cards">
        <div class="item-list__card">
          <div class="item-list__card-image">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
          </div>
          <div class="item-list__card-info">
            <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
            <div class="item-list__card-info-num">
              <div class="num__price">￥500円</div>
              <div class="far fa-heart"><div class="num-like">5</div></div>
              <p class="item-list__card-info-tax">(税込)</p>
            </div>
        </div>
        </div>

        <div class="item-list__card">
            <div class="item-list__card-image">
              <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
            </div>
            <div class="item-list__card-info">
              <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
              <div class="item-list__card-info-num">
                <div class="num__price">￥500円</div>
                <div class="far fa-heart"><div class="num-like">5</div></div>
                <p class="item-list__card-info-tax">(税込)</p>
              </div>
          </div>
          </div>


          <div class="item-list__card">
              <div class="item-list__card-image">
                <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
              </div>
              <div class="item-list__card-info">
                <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                <div class="item-list__card-info-num">
                  <div class="num__price">￥500円</div>
                  <div class="far fa-heart"><div class="num-like">5</div></div>
                  <p class="item-list__card-info-tax">(税込)</p>
                </div>
            </div>
            </div>


            <div class="item-list__card">
                <div class="item-list__card-image">
                  <img src="/Users/nobuaki/projects/mercari/app/assets/images/ダウンロード.jpeg" class="item-image">
                </div>
                <div class="item-list__card-info">
                  <div class="item-list__card-info-name">犬うううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううううう</div>
                  <div class="item-list__card-info-num">
                    <div class="num__price">￥500円</div>
                    <div class="far fa-heart"><div class="num-like">5</div></div>
                    <p class="item-list__card-info-tax">(税込)</p>
                  </div>
              </div>
              </div>



      </div>
    </div>
    <div class="view-all">全ての商品をみる</div>
  </div>
</div>

  <div class="itemlist-2">
  </div>

<aside>
    <div class="footer-banner">
      <div class="footer-content">
        <div class="footer-content__link">
            <h2 class="footer">スマホでかんたんフリマアプリ</h2>
            <p class="footer">今すぐ無料ダウンロード！</p>
            <div class="footer-content__link-icon">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari_icon.png" class="mercali-icon">
            <ul class="footer-content__link-store">
              <li class="footer-image"><img src="/Users/nobuaki/projects/mercari/app/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" class="footer-image"></li>
              <li class="footer-image"><img src="/Users/nobuaki/projects/mercari/app/assets/images/google-play-badge.png" class="footer-image-google"></li>
            </ul>
          </div>
        </div>
        <div class="footer-content__figure">
          <img src="/Users/nobuaki/projects/mercari/app/assets/images/フッター用画像.png" class="footer-image-right">
        </div>
      </div>
    </div>
</aside>

    <footer>

    <div class="footer-info">
      <div class="footer-info__nav">
        <div class="footer-info__nav-cell">
            <h2 class="footer-head">メルカリについて</h2>
            <ul>
                <li>
                    <a href="https://about.mercari.com/">会社概要（運営会社)</a>
                <li>
                    <a href="https://www.mercari.com/jp/jobs/">採用情報</a>                </li>
                <li>
                    <a href="https://about.mercari.com/press/news/">プレスリリース</a>                </li>
                <li>
                    <a href="https://jp-news.mercari.com/" target="_blank">公式ブログ</a>                </li>
                <li>
                    <a href="https://www.mercari.com/jp/logo-guidelines/">メルカリロゴ利用ガイドライン</a>                </li>
                <li class="footer-social-link">
                  <a href="https://twitter.com/mercari_jp" target="_blank"><img src="/Users/nobuaki/projects/mercari/app/assets/images/Twitter_Logo_WhiteOnImage.png" class="icon-twitter"></a>
                </li>
                <li class="footer-social-link">
                  <a href="https://www.facebook.com/mercarijp" target="_blank"><img src="/Users/nobuaki/projects/mercari/app/assets/images/f_logo_RGB-White_72.png" class="icon-facebook"></a>
                </li>
              </ul>
        </div>
        <div class="footer-info__nav-cell">
            <h2 class="footer-head">ヘルプ&ガイド</h2>
            <ul>
                <li>
                    <a href="https://www.mercari.com/jp/help_center/">メルカリガイド</a>              </li>
                <li>
                    <a href="https://www.mercari.com/jp/rakuraku-mercari/">らくらくメルカリ便</a>                </li>
                <li>
                    <a href="https://www.mercari.com/jp/yuyu-mercari/">ゆうゆうメルカリ便</a>                </li>
                <li>
                    <a href="https://www.mercari.com/jp/rakuraku-ogata/">大型メルカリ便</a>                </li>
                <li>
                    <a href="https://www.mercari.com/jp/guide/car/">車体取引ガイド</a>
                <li>
                  <a href="https://www.mercari.com/jp/safe/description/" target="_blank">メルカリあんしん・あんぜん宣言！</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/authenticity/">偽ブランド品撲滅への取り組み</a>
                </li>
                <li>
                    <a href="https://www.mercari.com/jp/box/">メルカリボックス</a>                  </li>
              </ul>
        </div>

        <div class="footer-info__nav-cell full-width">
            <h2 class="footer-head">プライバシーと利用規約</h2>
<div class="footer-info__nav-cell-list">
            <div class="footer-info__nav-cell-inner">
              <ul>
                <li>
                <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/tos_smartphone_support/">あんしんスマホサポート制度に関する利用特約</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/compliance/">コンプライアンスポリシー</a>
                </li>
              </ul>
            </div>

            <div class="footer-info__nav-cell-inner">
                <ul>
                <li>
                  <a href="https://www.mercari.com/jp/data_security/">個人データの安全管理に係る基本方針</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/shikin_kessai/">資金決済法に基づく表示</a>
                </li>
                <li>
                  <a href="https://about.mercari.com/csr/safety/">法令順守と犯罪抑止のために</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/jp/refund-returns/">返品・返金ポリシー</a>
                </li>
              </ul>
            </div>
            </div>
          </div>

          <div class="footer-info__nav-cell">
              <h2 class="footer-head">国</h2>
              <ul>
                <li>
                  <a href="https://www.mercari.com/jp/" class="active">日本</a>
                </li>
                <li>
                  <a href="https://www.mercari.com/">United States</a>
                </li>
              </ul>
            </div>


      </div>
      <div class="footer-info__bottom">
          <a href="https://www.mercari.com/jp/" class="footer-logo">
            <img src="/Users/nobuaki/projects/mercari/app/assets/images/mercari-logo-white.svg" width="124" height="33" alt="mercari">
          </a>
          <div class="footer-copyright">
            © 2019 Mercari
          </div>
        </div>
    </div>

  </footer>
  <div class="sell-btn">
    <div>出品</div>
    <div class="material-icons camera-icon">photo_camera</div>


  </div>
  
</body>