.like{
  width: 700px;
  &__list{
    background-color: #ffffff;
    &__heading{
      font-size: 24px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-weight: 600;
      border-bottom: 1px solid #eee;
    }
    #mypage-tab-notification{
      .list{
        .mypage-item-link{
          @include mypage-item-link();
          figure{
            @include figure();
            .lazyloaded{
              width: 48px;
            }
          }
          .mypage-item-body{
            @include mypage-item-body();
            .mypage-item-text{
              font-size: 16px;
            }
            .money{
              height: 18px;
              display: flex;
              margin-top: 10px;
              color: #333;
              span{
                margin-left: 5px;
              }
            }
          }
          .right{
            @include right();
          }
        }
      }
    }
    #mypage-tab-transaction-now{
      background-color: #ffffff;
      height: 236px;
      .image{
        @include image();
      }
      .mypage-item-not-found{
        @include not_found();
      }
    }
  }
  &__page{
    margin: 40px 0 0 0;
    height: 44px;
    width: 100%;
    position: relative;
    &__left{
      height: 100%;
      width: 44px;
      border-radius: 10px;
      background-color: #ffffff;
      position: absolute;
      border: 1px solid #eee;
      left: 0;
      &__btn{
        height: 42px;
        width: 42px;
        .left{
          margin: 9px;
        }
      }
    }
    &__right{
      height: 100%;
      width: 44px;
      border-radius: 10px;
      background-color: #ffffff;
      position: absolute;
      right: 0;
      border: 1px solid #eee;
      &__btn{
        height: 42px;
        width: 42px;
        .right{
          margin: 9px;
        }
      }
    }
  }
}