
.login-content{
  font-family: sans-serif;
  width: 700px;
  margin: 0 auto;
  &__header{
    height: 100px;
    display:flex;
    text-align: center;
    margin: 0 auto;
    &__image-logo{
      width: 30%;
      text-align: left;
      padding-top: 10px;
    }
    &__image-logo-login{
      margin: 0 180px ;
    }
    &__information{
      width: 70%;
      text-align: right;
    }
  }
  &__main{
    background-color: white;
    &__top{
      text-align: center;
      margin-top:30px;
      height: 150px;
      border-bottom: solid 1px #f5f5f5;
        &__theme{
          padding: 30px 16px;
          font-size: 20px;
          font-weight: bold;
          border-bottom: solid 1px #f5f5f5;
        }
        &__theme-login-top{
          font-size:15px;
          padding-top:10px;
        }
        &__registration{
          display: block;
          margin: 30px 180px 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
        }
    }
    &__middle{
      height:140px;
      margin-left:180px;
      
    }
    &__bottom{
      &__foget-password{
        margin-left: 90px;
        margin-top: 10px;
        color: blue;  
      }
      &__content-box{
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: 180px;
        margin-right:180px;
          &__note{
            font-size: 15px;
            padding-top:10px;
          }
          &__birthday-select-wrap{
            display: flex;
            height: 48px;
            font-size: 16px;
            line-height: 3.5;
            margin-top: 5px;
              &__text{
                padding-right: 10px;
              }
          }
          &__text{
            font-weight: 600;
            margin: 0px 0 0 0px;
          }
          &__require{
            background: #ea352d;
            padding: 2px 4px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__input{
            margin: 10px;
          }  
        &__theme{
          font-size:15px;
          font-weight: bold;
        }
        &__note{
          font-size:15px;
        }
        &__birthday-select-wrap{
          &__select-wrap{
          } 
        }
        &__input{
          height: 40px;
          margin-left:0;
          margin-right:0;  
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 340px;
        }
      }
      &__from{
        margin-right: 180px;
        margin-left: 180px;
        &__sbmit{
          width: 100%;
          color: white;
          background: red;
          line-height:4;
        }
        &__tag{
          line-height: 2;
            &__text{
              color: blue;
              text-align: center;
            }
        }
      }
      &__evocation{
        margin-top: 50px;
        margin-left: 180px;
        color: blue;
      }
    }
  }
}

// あとで結合する部分
.login-content{
  &__footer{
    text-align: center;
    padding-top: 50px;
      &__ul{
        margin:0;
        padding:0;
        display: flex;
      }  
      &__li{
        display: inline;
        list-style: none;
        width: 40%;
        font-size: 12px; 
        min-width: 90px;
      }
      &__logo{
        margin-bottom: 5px;
        margin-top: 5px;
      }
  }
}

// ロゴ画像に関するcssの記述
#image-style-footer-logo{
  height:65px;
  width:80px;
}
#image-style-header-logo{
  height:90px;
  width:300px;
}
#image-style-logo{
  height:65px;
  width:340px;
}
#image-style-recapcha{
  height:90px;
  width:300px;
}